## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [18]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [12]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l1 given above.

[ **Hint:** Use **append**]

In [19]:
l1.append(10)
print(l1)

['learning', 'Python', 'is fun?', True, 10]

Removing from an existing list

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove**]

In [20]:
l1.remove(10)
print(l1)

['learning', 'Python', 'is fun?', True]

Joining 2 lists

### Question 3

[ **Hint:** Use **+ or extend**]

In [21]:
l1+l2
l3 = [2,4,6,8]

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint: ** Use **len(),sum(), min(), max()** functions ]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [14]:
len(l3)
sum(l3)
min(l3)
max(l3)

4

20

2

8

Count the occurances of an element in a given list.

### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

[ **Hint: ** Use ** + operator to add multiple elements in the array and count() function to print the occurences**]

In [23]:
(l3 + [0,1,3,3,5,5,7,9]).count(5)

2

Sorting and Reversing a list

### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

**(Hint: Use .sort() function)**

In [26]:
l3.sort(reverse=True)

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [29]:
def sum_banana(x,y,z):
    s = x+y+z
    return s

sum_banana(2,4,5)

11

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [30]:
f = lambda x,y,z:x+y+z

In [31]:
f(2,3,4)

9